<ng-container
  *ngrxLet="
    episodes$ as episodes;
    error as e;
    suspenseTpl: loading
  "
>
  <table
    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
    *ngIf="!e"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th>Episode</th>
        <th>Name</th>
        <th>Air Date</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let episode of episodes"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <td class="text-blue-300">
          <a [routerLink]="['/detail', episode.id]"> {{ episode?.episode }}</a>
        </td>
        <td>
          {{ episode.name }}
        </td>
        <td>{{ episode.air_date }}</td>

        <td>{{ episode.created }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="e">error: {{ e }}</p>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
